# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtualenv
venv/
env/
.venv/

# IDE / editor folders
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Logs
*.log

# Database files (если используешь SQLite)
*.sqlite3

# MacOS
.DS_Store

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Docker
docker-compose.override.yml

# PyInstaller
*.manifest
*.spec

# Video files
*.mp4
bot_stats.json
video_cache